body,
.leaflet-container {
  font-family: 'Lora', serif;
}

h2, h3 {
  font-weight: bold;
  margin-top: 0;
}

h3 {
  margin-bottom: 4px;
}

.jumbotron p {
  font-size: 16px;
}

#map {
  height: 500px;
  border: 4px #CCC solid;
  /*box-shadow: 2px 2px 20px #222;*/
  /*transform: rotate(1deg);*/
  /*-ms-transform: rotate(1deg); [> IE 9 <]*/
  /*-webkit-transform: rotate(1deg); [> Safari and Chrome <]*/
  /*-o-transform: rotate(1deg); [> Opera <]*/
  /*-moz-transform: rotate(1deg); [> Firefox <]*/
  /*-webkit-backface-visibility: hidden;*/
  /*border: 5px #FFF solid;*/
}

.map-instructions {
  margin: 5px 0 0 0;
  color: #BBB;
  font-size: 12px;
}

.postcard-holder {
  background: #FFF;
  margin: -5px 0 15px 0;
  border: 5px #FFF solid;
  transform: rotate(-1deg);
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Safari and Chrome */
  -o-transform: rotate(-1deg); /* Opera */
  -moz-transform: rotate(-1deg); /* Firefox */
  -webkit-backface-visibility: hidden;
  box-shadow: 1px 1px 15px #222;
}
.credit {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 1em;
}
.credit a {
  color: #DDD;
}

.leaflet-container {
  font-size: 16px;
}

/**
 * Popup container including the shadow
 */
.leaflet-popup.smm {
}

/**
 * Popup internal white box
 */
.smm .leaflet-popup-content-wrapper {
}

.leaflet-popup-content-wrapper {
  background-size: 100%;
  border-radius: 0;
}

.leaflet-popup-content {
  background: rgba(255, 255, 255, .5);
  overflow: hidden;
}

.leaflet-popup-content p {
  margin-top: 0;
}

.leaflet-popup-content h2 {
  margin-top: 5px;
}

.image-container {
  float: left;
  padding: 0 15px 15px 0;
}

.credit {
  font-size: 10px;
  color: #BBB;
}

.headshot {
  float: right;
  -webkit-border-radius: 50em;
}
